.welcome{
    background-color: whitesmoke;
    border-radius: 20px;
    max-height: 85%;
    width: 50%;
    justify-content: center;
    color: black;
    text-shadow: none;
    box-shadow: 5px 5px 5px black;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.line-cart{
    width: 90%;
    max-height: 80%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 30%;
}

.ticket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 8px;
    padding: 3px;
}

.separateur{
    width: 40%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.footer{
    height: 10%;
    color: #66A691;
    margin-top: auto;
    margin-bottom: auto;
}