.welcome{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 50%;
    justify-content: center;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line-cart{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.ticket{
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 3px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.separateur{
    width: 40%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

.footer{
    height: 10%;
    color: #66A691;
    margin-top: auto;
    margin-bottom: auto;
}