.welcome{
    background-color: whitesmoke;
    border-radius: 20px;
    width: 50%;
    justify-content: center;
    color: black;
    text-shadow: none;
    min-height: 30%;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content button:hover{
    cursor: pointer;
}

.line-cart{
    width: 90%;
    min-height: 40%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.ticket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    border-radius: 20px;
    margin-bottom: 8px;
    padding: 3px;
    transition: all 0.3s ease-in-out;
}

.ticket:hover{
    transform: scale(1.1)
}

.ticket button{
    border-radius: 15px;
    border: none;
    padding: 8px;
}

.separateur{
    width: 40%;
    height: 2px;
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.footer{
    color: white;
    height: 20%;
    width: 100%;
    background-color: #02002F;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footer button{
    height: 70%;
    border: none;
    border-radius: 15px;
    padding: 7px;
}
.footer button:hover{
    cursor: pointer;
}